<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="com.socks.ui.tests" parallel="classes">

    <!-- Suite -->

    <test name="Login test">
        <classes>
            <class name="com.socks.ui.tests.tests.LoginTest"/>
        </classes>
    </test>
    <test name="Registration test">
        <classes>
            <class name="com.socks.ui.tests.tests.RegistrationTest"/>
        </classes>
    </test>
    <test name="Catalogue test">
        <classes>
            <class name="com.socks.ui.tests.tests.CatalogueTest"/>
        </classes>
    </test>
</suite>
